name: Postgres Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        django-version: ["3.2", "4.0", "4.1", "4.2"]
        exclude:
          - django-version: "3.2"
            python-version: "3.11"

          - django-version: "4.0"
            python-version: "3.6"
          - django-version: "4.0"
            python-version: "3.7"
          - django-version: "4.0"
            python-version: "3.11"

          - django-version: "4.1"
            python-version: "3.6"
          - django-version: "4.1"
            python-version: "3.7"
            
          - django-version: "4.2"
            python-version: "3.6"
          - django-version: "4.2"
            python-version: "3.7"
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install psycopg2
        pip install sqlparse
        pip install -q Django==${{ matrix.django-version }}
    - name: Run Tests
      run: |
        python runtests.py --settings=sql_util.tests.test_postgres_settings